/*@import url('normalize.css');*/
* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	color: #fff;
	background: #000;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
section.principal {
	background: url('../img/home-bg.jpg');
	background-size: cover;
	padding: 10em 5em;
	width: 100%;	
}
h1, h2 {
	font-size: 3em;
	text-shadow: 2px 5px 10px #000;
	text-transform: uppercase;
	margin-bottom: .5em;
}
h2 {
	font-size: 2.5em;
	margin-bottom: 1em;
	color: #f60;
}
p {
	/*Interlineado*/
	line-height: 26px;
	margin-bottom: 3em;
}
a.bt-home {
	border: 1px solid #fff;
	border-radius: 10px;
	width: 200px;
	padding: 1em;
	margin: 0 1em;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	background: rgba(0,0,0,.3);
	transition: all linear .3s;
}
a.bt-home:hover {
	background: rgba(0,0,0,.7);
	transition: all linear .3s;
	transform: scale(1.1);
}
i.separar {
	padding-right: 15px;
}
.login {
	background: #fff;
	width: 100%;
	padding: 1em;
	text-align: center;
	position: absolute;
	top: -100px;
	border-bottom: 3px solid #f60;
}
input {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: .5em;
	outline: 0;
}
input[type="button"]{
	background: blue;
	cursor: pointer;
	color: #fff;
}
input[type="button"]:hover{
	background: #ccc;
	color: #000;
}
.cerrar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: inline-block;
	float: right;
	color: #fff;
	background: #ccc;
}
.oscurecer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: none;
	background: rgba(0,0,0,.8);
}
.registrar {
	width: 40%;
	background: #fff;
	border-radius: 1em;
	padding: 3em;
	position: fixed;
	top:100px;
	left: 30%;
	z-index: 200;
	display: none;
}
.registrar h1 {
	color: #333;
	text-shadow:none;
}
.registrar input {
	width: 100%;
	padding: 1em;
	margin-bottom: 10px;
}